html,
body,
header,

#intro {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}
#intro {
    background: url("../img/IMG_7785-min-min.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 10px solid white;
}
.padding-center {
    /*margin-left: 99%;*/
}
.custom-navbar {
    box-shadow: none !important;
}

.custom-border {
    border: double;
    border-color: #24355C;
    padding: 1rem;

}

.custom-save-the-date {
    /*background: url("../img/My Post (1).jpg") ;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-repeat: repeat-x;*/
    background-repeat: no-repeat;
    background-size: contain;
}

.top-nav-collapse {
  background-color: #24355C;
}

.custom-varun-font {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    /*font-size: 2rem;*/
}

.custom-varun-font-big-margin {
    /*margin-top: -60%;*/
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    /*font-size: 6rem;*/
}

.custom-varun-font-big {
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    font-size: 4rem;
}

.custom-varun-font-medium {
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    font-size: 3rem;
}
.date-font {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 2rem;
}

@media (max-width: 525px) {
    #intro {
        background: url("../img/IMG_7785-min-min.JPG") no-repeat center center fixed;
        background-color: black;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        /*background-size: contain;*/
        border: 10px solid white;
    }

    .display-1 {
        font-size: 2rem;
    }
    .custom-varun-font-big-margin {
        margin-top: -60%;
        font-family: 'Great Vibes', cursive;
        font-weight: lighter;
        /*font-size: 6rem;*/
    }
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

@media (min-width:526px) and (max-width: 800px) {
    #intro {
        background: url("../img/IMG_7785-min-min.JPG") no-repeat center center fixed;
        background-color: black;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        /*background-size: contain;*/
        border: 10px solid white;
    }

    .display-1 {
        font-size: 4rem;
    }
    .custom-varun-font-big-margin {
        margin-top: -60%;
        font-family: 'Great Vibes', cursive;
        font-weight: lighter;
        /*font-size: 6rem;*/
    }
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}
@media (min-width: 801px) and (max-width: 1025px) {
    #intro {
        background: url("../img/IMG_7785-min-min.JPG") no-repeat center center fixed;
        background-color: black;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        /*background-size: contain;*/
        border: 10px solid white;
    }
    .display-1 {
        /*font-size: 3rem;*/
    }
    .custom-varun-font-big-margin {
        margin-top: -60%;
        font-family: 'Great Vibes', cursive;
        font-weight: lighter;
        font-size: 6rem;
    }
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }

}

/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
